---
import Layout from "@/layouts/Layout.astro"

import FreeAbout from "@/components/sections/FreeAbout.astro"
import Service from "@/components/sections/Service.astro"
import FreeHero from "@/components/sections/FreeHero.astro"
import Projects from "@/components/sections/Projects.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"
import CTAOne from "@/components/sections/CTAOne.astro"
import Results from "@/components/sections/Results.astro"
import ProblemsSolv from "@/components/sections/ProblemsSolv.astro"
import Services from "@/components/sections/Services.astro"
import HowToWork from "@/components/sections/HowToWork.astro"
import Exits from "@/components/sections/Exits.astro"
import FinalCTA from "@/components/sections/FinalCTA.astro"

import { free_basics } from "@cv"
const { name, label } = free_basics
---

<Layout title={`${name} - ${label}`}>
  <main>
    <FreeHero />
    <FreeAbout />
    <CTAOne />
    <Results />
    <ProblemsSolv />
    <Services />
    <HowToWork />
    <Exits />
    <FinalCTA />
  </main>

  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 1rem;
    }
  }
</style>
